* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

#canvas {
  width: 960px;
  height: 640px;
}
