* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#container {
  position: relative;
}

#iframe {
  width: 960px;
  height: 640px;
}

#control {
  position: absolute;
  right: 0;
  top: 0;
}

.line {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.line > * {
  margin: 0 5px;
}

.line > input {
  width: 80px;
}

.line > label {
  display: inline-block;
  width: 100px;
}

.reload::before {
  content: "";
  display: block;
  width: 2px;
  height: 12px;
  background-color: red;
}

.normal::before {
  content: "";
  display: block;
  width: 2px;
  height: 12px;
  background-color: blue;
}

#dbCount,
#textContent {
  display: none;
}

#control[data-example="dragonbone"] #dbCount {
  display: flex;
}

#control[data-example="text"] #textureCount {
  display: none;
}

#control[data-example="dragonbone"] #textureCount {
  display: none;
}

#control[data-example="text"] #textContent {
  display: flex;
}
